/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}
.non {
    display: none;
}
