/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

.non {
    display: none;
}
