footer{

}
.footer-wrapper{
    width: 100%;
    background-color: #BDBDBD;
    position: relative;
    bottom: 0;
}
footer img{
    width: 70px;
    height: 70px;
    border-radius : 50%;
    margin-top: 7px;
}
.fo_d1{
    text-align: center;
    text-size : 40px;

}
.fo_d1 span{
    color: white;

}
.fo_d1 p{
    color: white;

}