* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain {
    max-width: 1100px;
    margin: auto;
}

.row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    height: 100%;
    padding: 15px 0;
}

.footer-col1 {
    flex: 1;
    width: 70%;
    align-items: center;
}

.footer-col1 h4 {
    font-weight: 1000;
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    align-items: center;
    padding-left: 30%;
}

.footer-col1 h4:before{
    content: '';
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 10px;
}

.footer-col1 ul {
    display: flex;
    flex-direction: column;

    color: #ffffff;


}

.footer-col1 ul li {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
.footer-col1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col1 ul li a:hover{
    color: #ffffff;
    padding-left:15px;
    font-size: 1.1em;
}

.footer-col1 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-left: 8%;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col1 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
    font-size: 1.2em;
    box-sizing: border-box;
    transform: scale(1.2);
}
