body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

#myinfo-wapper {
    display: flex;
    margin-top: 200px;
}

#side-menu {
    width: 20%;
    background-color: #333;
    color: #FAFAFA;
    padding: 20px;
    float: left;
}

#form-wrapper {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 40px 80px 20px; /* 위, 오른쪽, 아래, 왼쪽 순서로 마진을 지정합니다. */
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}