<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.member.repository.BoardMapper">
    <select id="findAll" resultType="MainBoard">
        SELECT b.*, r.max_user, r.curr_user
        FROM tbl_main_board b
        INNER JOIN tbl_room r ON b.room_id = r.room_id
        WHERE b.room_id IS NOT NULL;
    </select>

    <insert id="save">
        INSERT INTO tbl_board
        (board_title, board_content, person_id)
        VALUES (#{boardTitle}, #{boardContent}, #{personId})
    </insert>

    <update id="modify">
        UPDATE tbl_main_board
        SET main_board_title = #{mainBoardTitle},
            main_board_content = #{mainBoardContent}
        WHERE main_board_id = #{mainBoardId}
    </update>

    <delete id="delete">
        DELETE FROM tbl_main_board WHERE main_board_id = #{boardId}
    </delete>
</mapper>
