<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.member.repository.MainBoardMapper">



   <!--  게시글 만들기 테이블
   CREATE TABLE tbl_main_board
(
    main_board_id      INTEGER AUTO_INCREMENT,
    person_id     VARCHAR(16),
    main_board_title   VARCHAR(20) NOT NULL,
    main_board_content VARCHAR(400),
    room_id       INTEGER,
    view_count INTEGER,
    reg_date TIME DEFAULT current_timestamp,
    CONSTRAINT pk_main_board PRIMARY KEY (main_board_id),
    CONSTRAINT fk_main_board_person
        FOREIGN KEY (person_id)
            REFERENCES tbl_person (person_id),
    CONSTRAINT fk_main_board_room
        FOREIGN KEY (room_id)
            REFERENCES tbl_room (room_id)
);

-->



    <!-- 게시글을 만든다-->
    <insert id="save">
        INSERT INTO tbl_main_board
        (person_id,main_board_title, main_board_content)
        VALUES
        (#{personId},#{mainBoardTitle},#{mainBoardContent})
    </insert>

    <!-- 모든 게시글을 조회한다.-->
    <select id="findAll" resultType="MainBoard">
    SELECT * FROM tbl_main_board
    </select>

    <!-- 특정 사용자가 만든 게시글을 조회한다.-->
    <select id="findPersonId" resultType="MainBoard">
        SELECT * FROM tbl_main_board
        WHERE person_id = #{personId}
    </select>

    <!-- 내가 찾고 싶은 게시글을 게시글 아이디로 조회 -->
    <select id="findMainBoardId" resultType="MainBoard">
        SELECT * FROM tbl_main_board
        WHERE main_board_id = #{mainBoardId}
    </select>

    <!-- 내가 찾고 싶은 게시글 제목으로 조회-->
    <select id="findTitle" resultType="MainBoard">
        SELECT * FROM  tbl_main_board
        WHERE main_board_title LIKE CONCAT('%',#{keyword},'%')
    </select>

    <!-- 내 게시글 제목 수정하기-->
    <update id="modify">
        UPDATE tbl_main_board
        SET main_board_title =#{mainBoardTitle}
        WHERE person_id = #{personId}
    </update>

    <!-- 내 게시글 글 내용 수정하기-->
    <update id="modifyContent">
        UPDATE tbl_main_board
        SET main_board_content =#{mainBoardContent}
        WHERE person_id = #{personId}
    </update>

    <!-- 내 게시글 삭제하기-->
    <delete id="delete">
        delete FROM tbl_main_board WHERE main_board_id = #{mainBoardId}
    </delete>


</mapper>