<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.member.repository.MemberMapper">

<insert id="save">
INSERT INTO tbl_person
    (person_id,email, password,nickname,introduction)

    VALUES
    (#{personId},#{email},#{password},#{nickname},#{introduction})
</insert>

    <select id="findMember" resultType="Person">
        SELECT
        person_id, email, password, nickname,introduction, reg_date
        FROM tbl_person
        WHERE person_id = #{personId}
    </select>

    <select id="isDuplicate" resultType="boolean">

        SELECT COUNT(*)
        FROM tbl_person

        <if test="type == 'personId'">
        WHERE person_id = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE email = #{keyword}
        </if>
        <if test="type == 'nickname'">
            WHERE nickname = #{keyword}
        </if>

    </select>

    <update id="saveAutoLogin">
        UPDATE tbl_member
        SET session_id = #{seesionId}, limit_time =#{limitTime}
        WHERE person_id = #{personId}
    </update>

    <select id="findMemberByCookie" resultType="Person">
        SELECT
        person_id,nickname,email,introducation,limit_time
        FROM tbl_member
        WHERE session_id = #{sessionId}
    </select>


</mapper>
