<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.member.repository.RoomMemberMapper">

    <!-- Roommember에 방 등록 저장  -->
    <insert id="save">
        INSERT INTO tbl_roommember (room_id, person_id, auth)
        VALUES (#{roomId}, #{personId}, #{auth})
    </insert>

    <!-- Room에 있는 회원들 조회 -->
    <select id="findAll" resultType="RoomMember">
        SELECT * FROM tbl_roommember
    </select>

    <!-- 방에 있는 회원 강퇴 -->
    <delete id="delete">
        DELETE FROM tbl_roommember
        WHERE person_id = #{personId}
    </delete>

</mapper>
