/* board 전체 */
#write-post-wrapper{
    height: 600px;
    padding: 50px;
}

#post-wrapper-back{
    padding: 50px;
    background-color: #d0d0d0;

}
/* 게시글 작성 창 */
#post-wrapper{
    /*margin: 100px;*/
}
/* 게시글 내용 */
#post-wrapper .create-content{
    margin: 20px 0;
}

/*!* 방 만들기 폼 *!*/
/*#create-room{*/
/*    margin: 20px; !* Adjusted margin *!*/
/*    padding: 20px;*/
/*    background-color: #bbdeff;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/

/*}*/

/* 방 만들기 - 암호 */
#roomRockChecked{
    margin-right: 5px;
    position: absolute;
    left: 0;
}