#main-wrapper {
    margin: 50px 10% 50px 10%;
}

/* 검색창과 간단 프로필 */

#main-head {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

/* 간단 프로필 */
#main-head .user-info {
    width: 30%;
    --bs-card-border-width: 2px;
}

#create-room {
    margin-top: 5px;
    height: 85%;
    padding: 10px;
    background: none;
    border-width: 3px;
    border-radius: 15px;
    border-color: #c3c3c3

}

/* 검색창 */
#search {
    width: 60%;
    background: none;
}


#search .container-fluid .d-flex {
    width: 100%;
}

#search .container-fluid .type-select {
    width: 120px
}

#search-btn {
    width: 100px;
    border-color: #c3c3c3
}
/*메인 헤더 이미지 */
.mainImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.mainImg img {
    border-radius: 10px;
}

/* 제목 옆 수정, 삭제 아이콘 */