#main-wrapper{
    margin: 50px 50px 50px 50px;
}

/* 검색창과 간단 프로필 */

#main-head{
    display: flex;
    justify-content: space-between;
}
/* 검색창 */
#search{
    width: 40%;
}

#search .container-fluid .d-flex{
    width: 100%
}
#search .container-fluid .type-select{
    width: 120px
}


#search-head #search{
    width: 100%;
    height: 100px;
}
