<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>FOOTER</title>
</head>
<body>
   <footer>
       <div class="fo_d1">
           <span>HOBBY CONNECT</span> <span> | </span>
           <span>충남도립대 컴퓨터공학과</span>
           <p>임선진,이승한,원용재,한태용</p>
           <p>[깃허브 주소]</p>
           <p>HOBBY CONNECT</p>
           <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb9APJ8%2FbtrTMQYizgY%2FwyBbDuJlXpqJfIHXVrTUp0%2Fimg.png">
           <img src="https://mblogthumb-phinf.pstatic.net/MjAxODAyMDJfMzQg/MDAxNTE3NTAyODA4ODA1.aYtwH9e-REqhMJ-y4FntHDf9cG--EQq76kK3k27DQd8g.Bv8IKu7PShK6fJCmgifry9yIFuBBJpQ1utdqGXUrT7kg.PNG.marketstory24/%EC%B9%B4%EC%B9%B4%EC%98%A4%ED%86%A1_%EB%A1%9C%EA%B3%A0_1.png?type=w800">
           <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F2Wdrf%2FbtrTQhfTyKV%2FABj78wKfKVZqVC9HVVjke0%2Fimg.png">
           <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbBKi9o%2FbtrTQvSrPAx%2F8nHV5wimJM7ndFgx1uomfK%2Fimg.png">
       </div>
   </footer>
</body>
</html>